.main {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border: 3.5px solid red;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: red;
  color: white;
  padding: 0 4px 3px 10px;
  font-size: 16px;
}

.closeBtn {
  background-color: var(--background);
  color: var(--foreground);
  padding: 0 5px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  border-top-color: white;
  border-left-color: white;
  box-shadow: inset -1px -1px black, inset 1px 1px white;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--gray-hover);
  }

  &:active {
    border-top-color: black;
    border-left-color: black;
    border-right-color: white;
    border-bottom-color: white;
    box-shadow: inset 1px 1px black, inset -1px -1px white;
  }
}

.content {
  text-align: center;
  margin: 15px 20px;
  font-size: 14px;
}