.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
  height: 95%;
  margin: 30px 0;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  gap: 20px;
  width: 700px;
  border: 1px solid black;
  padding: 10px;
  background-color: var(--background);
}

.imgContainer {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: white;
}

.imgContainer img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.quantitySection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 20px 0;
  background-color: var(--background);
  border: 1px solid black;
}

.quantityContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 20px;

  p {
    font-weight: 600;
    font-size: 20px;
  }
}

.quantityBtn {
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

.deleteContainer {
  margin-top: 5px;
}

.deleteBtn {
  width: 30px;
  height: 30px;
  padding-top: 2px;
}

.priceContainer {
  text-align: end;
}

.emptyBtn {
  display: flex;
  align-items: center;
  padding: 3px;
}