.categoryBar {
  position: sticky;
  top: 49.5px;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-bottom: 1px solid black;
  z-index: 11;
}

.categoryBtn {
  display: flex;
  width: auto;
  height: auto;
  background-color: var(--background);
  padding: 8px 6px;
  margin: 0 5px;
  font-size: 12px;
}

.activeCategory {
  background-color: var(--green);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--green-hover);
  }
}

.filterButton {
  width: 88px;
}

.activeFilter {
  background-color: var(--yellow);

  &:hover {
    background-color: var(--yellow-hover);
  }
}