.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: lightcyan;
  width: 100%;
  height: calc(100vh - 210px);
}

.forms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-top: 40px;
}

.registerSection,
.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm,
.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid black;
}

button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

.errorText {
  color: red;
}