:root {
  --background: #f0f0f0;
  --background-beige: #FCFFE7;
  --background-grey: #97acc0;
  --foreground: black;
  --blue: #27f1ff;
  --blue-hover: #25E3F0;
  --dark-blue: #0202a2;
  --green: #9FFF0E;
  --green-hover: #91E80D;
  --yellow: #F4F95A;
  --yellow-hover: #E6EB55;
  --gray-hover: #DDD;
  --pink: #FF0CB2;
  --font-rubik: Rubik;
  --font-roboto-mono: 'Roboto Mono';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("/normal.cur"), auto;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-roboto-mono);
  background-color: var(--background-grey);
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font-family: var(--font-roboto-mono), Arial, sans-serif;
}