:root {
  --background: #f0f0f0;
  --background-beige: #FCFFE7;
  --background-grey: #bdc8d3;
  --background-greyy: #97acc0;
  --foreground: black;
  --blue: #27f1ff;
  --blue-hover: #25E3F0;
  --dark-blue: #0202a2;
  --green: #9FFF0E;
  --green-hover: #91E80D;
  --yellow: #F4F95A;
  --yellow-hover: #E6EB55;
  --gray-hover: #DDD;
  --pink: #FF0CB2;
  --font-rubik: Rubik;
  --font-roboto-mono: 'Roboto Mono';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-roboto-mono);
  background-color: var(--background-grey);
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  cursor: pointer;
  border: 2px solid black;
  border-top-color: white;
  border-left-color: white;
  box-shadow: inset -1px -1px black, inset 1px 1px white;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--gray-hover);
  }

  &:active {
    border-top-color: black;
    border-left-color: black;
    border-right-color: white;
    border-bottom-color: white;
    box-shadow: inset 1px 1px black, inset -1px -1px white;
  }
}

.closeBtn {
  background-color: var(--background);
  color: var(--foreground);
  padding: 0 5px;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #d4d0c8;
  border: 2px solid black;
  border-top-color: white;
  border-left-color: white;
  box-shadow: inset -1px -1px black, inset 1px 1px white;
}

::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: 2px solid black;
  border-top-color: white;
  border-left-color: white;
  box-shadow: inset -1px -1px black, inset 1px 1px white;
  cursor: pointer;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-hover);
}

::-webkit-scrollbar-thumb:active {
  border-top-color: black;
  border-left-color: black;
  border-right-color: white;
  border-bottom-color: white;
  box-shadow: inset 1px 1px black, inset -1px -1px white;
}

::-webkit-scrollbar-button {
  display: none;
  background: #b0b0b0;
  border: 2px solid black;
  border-top-color: white;
  border-left-color: white;
  box-shadow: inset -1px -1px black, inset 1px 1px white;
  height: 16px;
  width: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  display: block;
  background: #b0b0b0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpolygon points='8,3 3,10 13,10' fill='black'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  display: block;
  background: #b0b0b0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpolygon points='3,6 8,13 13,6' fill='black'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}