.main {
  display: flex;
  justify-content: center;
  background-color: palevioletred;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
  width: 90%;
}