.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  gap: 30px;
  margin: 30px;
  padding: 20px;
  background-color: var(--background);
  border: 1px solid black;
}

.imgSection {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.thumbnailContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80px;
  height: 500px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.imageItem {
  position: relative;
}

.thumbnail {
  width: calc(100% - 2px);
  margin: 1px;
  height: auto;
  object-fit: contain;
  background-color: white;
  opacity: 0.5;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.active {
  opacity: 1;
  outline: 1px solid black;
}

.imgContainer {
  width: 500px;
  height: 500px;
  background-color: white;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 2px solid black;

  &:hover {
    cursor: zoom-in;
  }
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 24px;
  font-weight: 900;
}

.description,
.price,
.stock {
  text-decoration: underline;
  font-weight: 500;
}

.description {
  margin-bottom: 5px;
  margin-top: 10px;
}

.imageUpdate {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.imagePreviewContainer {
  position: relative;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.imagePreview {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  object-fit: contain;
  background-color: white;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  height: 30px;
  padding: 5px;
}

.removeBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--background);
  color: red;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.updatePrice {
  display: flex;
  gap: 10px;
}

.updatePriceInput {
  width: 80px;
}

.updateStockInput {
  width: 50px;
}

.input {
  padding: 4px 8px;
  border: 2px solid #808080;
  outline: none;
  background-color: white;
  color: black;
  box-shadow: inset -2px -2px 0px white, inset 2px 2px 0px black;

  &:focus {
    border: 2px solid red;
  }

  &:hover {
    cursor: text;
  }
}